.color-red {
  color: red;
}

#color-green {
  color: green;
}

.box-1 {
  width: 200px;
  height: 100px;
  background-color: green;
}

.box-2 {
  width: 100%;
  height: 200px;
  background-image: url("../image-2.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.box-3 {
  background: green;
  color: white;
  margin: 10px 0;
  border: 5px solid black;
  padding: 30px;
  text-align: center;
}

.box-4 {
  background: red;
  color: white;
  margin: 10px 0;
  border: 10px dashed gray;
  padding: 30px;
  text-align: right;
  background-clip: padding-box;
}

.text-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}